.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	@include font__style-1__bold;
	font-size: 16px; 
	line-height: 24px;
	border: none; 
	border-radius: 30px;
	background: $primary; 
	color: #fff;
	padding: 12px 28px 10px;
	height: 44px;
	display: inline-flex; 
	justify-content: center; 
	align-items: center;
	transition: all .3s ease;
	&:visited, &:active {color: #fff;}
	&:hover, &:focus {
		background-color: $secondary;
		color: #fff;
	}
}

@media (min-width: $md) {
	.button,
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		height: 54px;
	}
	.wide { padding: 12px 36px 10px; }
}

.button.white {
	background-color: #fff; 
	color: $secondary;
	&:hover, &:focus {
		background-color: $secondary;
		color: $color__background-body;
	}
}

.tag-button {
	cursor: pointer;
	@include font__style-1__normal;
	font-size: 14px; 
	line-height: normal;
	border: 1px solid $color__line; 
	border-radius: 30px;
	background: #fff; 
	color: $color__link;
	padding: 6px 16px;
	height: 36px;
	display: inline-flex; 
	justify-content: center; 
	align-items: center;
	transition: all .3s ease;
}

.button {
	.fas {
		margin-right: 8px;
	}
}