.site-footer {
    padding-top: 64px;
    background-color: $secondary;

    a {color: #eaf0f6;}
    a:hover, a:focus {color: $primary;}

    .sign-up {
        padding-bottom: 48px;
        border-bottom: 1.5px solid rgba(253, 251, 246, 0.2);
        display: flex; flex-direction: column; align-items: center;

        > div {max-width: 540px; width: 100%;}
        form {
            width: 100%;
            button {margin-top: 16px;}
        }
        .form-group {margin-bottom: 8px; text-align: center; width: 100%;}

        h3 {color: #ffffff; text-align: center;}
        input[type=text] {
            border: 1px solid #ffffff;
            background-color: #ffffff;
            width: 100%; 
            color: #665b3e;
            &::placeholder { color: #665b3e; opacity: 0.80; }
            &:-ms-input-placeholder { color: #665b3e; opacity: 0.80; }
            &::-ms-input-placeholder { color: #665b3e; opacity: 0.80; }
        }

        @media (min-width: $lg) {
            > div {max-width: 780px;}
            h3 {margin-bottom: 32px; line-height: 1.1;}
            .form-group {margin-right: 16px;}
            form {
                display: flex;
                .submit {flex: 0 1 140px; margin-right: 0;}
                div.submit button {margin-top: 0;}
            }
        }

        @media (min-width: $xl) {
            h3 {margin-right: 16px; margin-bottom: 12px; }
            flex-direction: row; justify-content: space-between;
        }


    }

    .footer-nav {
        padding-top: 40px; padding-bottom: 16px;
        > div.row {justify-content: center;}
        .logo{ display: none;
            img {width: 125px; height: auto; position: relative; margin: -16px 0 0 -8px;}
        }
        .footer-menu {display: none;}
        .menu {
            border-right: 1.5px solid  rgba(253, 251, 246, 0.2);
            list-style: none; margin: 0; padding: 0;
            columns: 2;
            li {font-size: 1.125rem; line-height: 1.25; font-weight: 500; margin-bottom: 16px;}
            li:nth-child(odd) {margin-bottom: 28px;}
        }
        .social {
            text-align: center;
            h6 {color: #ffffff; font-size: 18px; margin-bottom: 1em;}
        }
        .social__links a {
            display: inline-flex; justify-content: center; align-items: center; 
            width: 50px; height: 50px;
            background-color: #ffffff; border-radius: 50%;
            color: $primary; font-size: 24px; margin-right: 10px;
        }

        @media (min-width: $lg) {
            padding-top: 88px; padding-bottom: 48px;
            .logo {display: block;}
            .footer-menu {display: block;}
            .social {text-align: left;
                > div {width: fit-content; margin-left: auto; }
            }
        }
    }


    .site-info {
        
        ul {
            max-width: 480px;
            margin: 0 auto; padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 16px; column-gap: 40px;
            li {font-size: 14px; gap: 40px;}
        }

        .hold {
            border-top: 1.5px solid rgba(253, 251, 246, 0.2);
            padding: 40px 0;
            @media (min-width: $lg) {
                border-top: none;
                ul {max-width: 100%;}
                ul li:last-child {margin-left: auto;}
            }
        }

    }

}





dialog#search-popup {
    z-index: 10;
    border: none;
    background-color: black;
    width: 100%;
    height: 100%;
    
    form {
        height: 100%; max-width: 100%; text-align: right;
        display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 16px;
        @media (min-width: $sm) {flex-direction: row;}
    }

    input {color: #ffffff; max-width: 100%; margin-bottom: 12px;}

    button.close {
        font-size: 24px;
        position: absolute;
        top: 20px; right: 0;
        width: 40px; height: 40px;
        padding: 0; min-width: 40px;
        background-color: transparent;
    }

    &::backdrop {
        background-color: hsl(0, 0%, 0%);
    }
}