$primary: #f47f72;
$secondary: #4953a4;
$lt-blue: #edeffb;


$color__background-body: #fdfbf6;
$color__background-screen: #eaf0f6;
$color__background-pre: #eee;
$color__background-ins: #f47f72;

$color__text-input: #665b3e;
$color__text-input-focus: #665b3e;
$color__link: #4953A4;
$color__link-visited: #4953A4;
$color__link-hover: #4953A4;

$color__text-main: #665b3e;

$color__border-input: #9b927b;
$color__border-abbr: #9b927b;
$color__line: #9b927b;